@page "/"
@using ApiConsumer.Components.Shared
@using Products.Shared.Models
@* @inject NavigationManager NavigationManager /comentado pelo ruben *@ 
@rendermode InteractiveServer

@inject IWebAPI WebAPI


<PageTitle>Home</PageTitle>

<MudTable Items="_productsModels" Hover="true" Breakpoint="Breakpoint.Sm">
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>Description</MudTh>
        <MudTh>Title</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="Description">@context.Description</MudTd>
        <MudTd DataLabel="Title">@context.Title</MudTd>
    </RowTemplate>
</MudTable>


@*  @if (_productsModels.Any())
{
    <div class="d-flex flex-wrap">
    @foreach (var productModel in _productsModels)
    {
        <MudCard class="w-25 m-2">
 
            <MudCarousel Class="mud-width-full" ShowArrows="@(productModel.ImageUrl.Count >1)" ShowBullets="@(productModel.ImageUrl.Count >1)" ItemsSource="@productModel?.ImageUrl" Style="height:200px"> 
                <ItemTemplate>
                    <MudImage Src="@context" Height="200" ObjectFit=ObjectFit.Cover></MudImage>
                </ItemTemplate>
            </MudCarousel>
            <MudCardContent>
                <MudText Typo="Typo.body2">@productModel.Title</MudText>
                <MudText Typo="Typo.body2">@productModel.Description</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick"() => "Navigate(productModel.Id)">Share</MudButton>
                <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
            </MudCardActions>
        </MudCard>
    }
</div>
} *@

@code {
    private List<ProductModel> _productsModels = new();

    private void navigate(int id)
    {
        // navigationmanager.navigateto($"/productdetail/{id}"); //comentado pelo ruben
    }

    protected override async Task OnParametersSetAsync()
    {
        var response = await WebAPI.GetProducts();

        _productsModels = response;
    }
} 
 